.chrome-template-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  display: flex;
  justify-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 3px;
  background-color: #d46666;
  border: 1px solid #d46666;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
  box-shadow: 2px 2px 2px 1px rgb(152 148 148 / 20%);

  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  z-index: 9999;
}

.chrome-template-loading {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.chrome-template-loading img {
  position: relative;
  background-color: white;
  padding: 10px;
  margin: auto;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 0.25rem;
  font-size: 1.5rem;
}

.chrome-template-loading-show {
  display: flex;
}
